@model IEnumerable<ViewModels.StudentViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FirstName, "Details", "Students", new { id = item.StudentId }, new { @style = "color:#000000;" })
                </td>
                <td>
                    @Html.ActionLink(item.LastName, "Details", "Students", new { id = item.StudentId }, new { @style = "color:#000000;" })
                </td>
                <td>
                    @Html.ActionLink(item.Group.Name, "Details", "Groups", new { id = item.GroupId }, new { @style = "color:#000000;" })
                </td>
                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-controller="Students" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>